{% extends "base.html.twig" %}
{% block title %}Posts{% endblock %}
{% block body %}


<table width="50%" border="1" cellspacing="1" cellpadding="7">
 
<tr>
    <th>Title</th>
    <th>Content</th>
</tr>
  {% for element in posts %}
  <tr>
    <td>{{ element.title }}</td>
    <td>{{ element.body }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %} 