{% extends "base.html.twig" %}
{% block title %}Posts{% endblock %}
{% block body %}


<table width="50%" border="1" cellspacing="1" cellpadding="7">
 
<tr>
    <th>Title</th>
    <th>Content</th>
     <th>User id</th>
</tr>
  <tr>
    <td>{{ post.title }}</td>
    <td>{{ post.body }}</td>
    <td>{{ post.userId }}</td>
  </tr>
</table>
{% endblock %} 